@import url(http://fonts.googleapis.com/css?family=Raleway:400,300,500,800);
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 31, ../scss/sass/_base.scss */
div, li, ul, article, section, span, img, h1, h2, h3, h4, p, a {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 14, ../scss/sass/screen.scss */
body, html {
  background-color: #faf4eb;
  color: #3f3c36;
  font-family: "Raleway";
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
}
/* line 23, ../scss/sass/screen.scss */
body .mobile-hide, html .mobile-hide {
  overflow: hidden;
  height: 100px;
}

/* line 29, ../scss/sass/screen.scss */
a {
  color: #2d2923;
  font-family: "Raleway";
  text-decoration: none;
}

/* line 35, ../scss/sass/screen.scss */
.main-header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  height: 80px;
  text-transform: uppercase;
  background-color: white;
  -webkit-transition: background-color 1s;
  -moz-transition: background-color 1s;
  -o-transition: background-color 1s;
  transition: background-color 1s;
}
/* line 44, ../scss/sass/screen.scss */
.main-header.highlight-menu {
  background-color: rgba(255, 255, 255, 0.6);
  -webkit-transition: background-color 1s;
  -moz-transition: background-color 1s;
  -o-transition: background-color 1s;
  transition: background-color 1s;
}
@media only screen and (min-width: 890px) {
  /* line 35, ../scss/sass/screen.scss */
  .main-header {
    background-color: transparent;
  }
}
/* line 52, ../scss/sass/screen.scss */
.main-header .mobile-menu-toggle {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 30px;
  height: 30px;
  border: 0;
  background-image: url(../images/hamburger.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: transparent;
  z-index: 100001;
}
@media only screen and (min-width: 890px) {
  /* line 52, ../scss/sass/screen.scss */
  .main-header .mobile-menu-toggle {
    display: none;
  }
}
/* line 73, ../scss/sass/screen.scss */
.main-header .main-navigation {
  position: relative;
  max-width: 1100px;
  margin: 0 auto;
}
/* line 77, ../scss/sass/screen.scss */
.main-header .main-navigation .anyu-logo {
  position: absolute;
  top: -70px;
  left: 0;
  width: 170px;
  height: 170px;
  background-image: url(../images/anyu-logo-brown.svg);
  background-size: 94%;
  background-position: 14px 70px;
  background-repeat: no-repeat;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
/* line 93, ../scss/sass/screen.scss */
.main-header .main-navigation .top-nav {
  list-style: none;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  overflow: hidden;
  border-top: 80px solid transparent;
  -webkit-transition: height 200 ms;
  -moz-transition: height 200 ms;
  -o-transition: height 200 ms;
  transition: height 200 ms;
}
/* line 106, ../scss/sass/screen.scss */
.main-header .main-navigation .top-nav.mobile-show {
  height: 100%;
  overflow: auto;
  -webkit-transition: height 200 ms;
  -moz-transition: height 200 ms;
  -o-transition: height 200 ms;
  transition: height 200 ms;
}
@media only screen and (min-width: 890px) {
  /* line 93, ../scss/sass/screen.scss */
  .main-header .main-navigation .top-nav {
    height: 100%;
    position: relative;
    text-align: right;
    background-color: transparent;
    border-top: 0;
    overflow: visible;
  }
}
/* line 121, ../scss/sass/screen.scss */
.main-header .main-navigation .top-nav .menu-item {
  display: block;
  vertical-align: top;
  padding: 20px 10px 20px 10px;
  cursor: pointer;
  background-color: white;
}
@media only screen and (min-width: 890px) {
  /* line 121, ../scss/sass/screen.scss */
  .main-header .main-navigation .top-nav .menu-item {
    display: inline-block;
    background-color: transparent;
  }
}
/* line 132, ../scss/sass/screen.scss */
.main-header .main-navigation .top-nav .menu-item a {
  color: #2B1C0D;
  font-family: "Raleway";
  letter-spacing: 1px;
  font-size: 15px;
}
/* line 140, ../scss/sass/screen.scss */
.main-header .main-navigation .top-nav .menu-item#menu-item-9 a {
  font-weight: bold;
}
/* line 146, ../scss/sass/screen.scss */
.main-header .main-navigation .top-nav .menu-item:hover .sub-menu {
  display: block;
}
/* line 153, ../scss/sass/screen.scss */
.main-header .main-navigation .top-nav .menu-item .sub-menu {
  display: block;
  position: relative;
  width: 100%;
}
@media only screen and (min-width: 890px) {
  /* line 153, ../scss/sass/screen.scss */
  .main-header .main-navigation .top-nav .menu-item .sub-menu {
    display: none;
    position: absolute;
    top: 36px;
    left: 0;
    width: 100%;
  }
}
/* line 165, ../scss/sass/screen.scss */
.main-header .main-navigation .top-nav .menu-item .sub-menu .menu-item a {
  color: #2B1C0D;
}
/* line 169, ../scss/sass/screen.scss */
.main-header .main-navigation .top-nav .menu-item .sub-menu #menu-item-254 {
  margin-right: 110px;
}

/* line 180, ../scss/sass/screen.scss */
.hero {
  display: block;
  height: 100%;
  margin-top: 0;
  background-attachment: fixed;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  position: relative;
  min-height: 480px;
  background-image: url(../images/header-picture-3.jpg);
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center;
}
@media only screen and (min-width: 602px) {
  /* line 180, ../scss/sass/screen.scss */
  .hero {
    margin-top: 0;
    height: 1024px;
    background-size: 150%;
    background-position: top center;
  }
}
@media only screen and (min-width: 1000px) {
  /* line 180, ../scss/sass/screen.scss */
  .hero {
    margin-top: 0;
    height: 768px;
    background-size: 150%;
    background-position: top center;
  }
}
@media only screen and (min-width: 1025px) {
  /* line 180, ../scss/sass/screen.scss */
  .hero {
    margin-top: 0;
    height: 800px;
    background-size: 100%;
    background-position: 0 0;
  }
}
/* line 225, ../scss/sass/screen.scss */
.hero .hero-content {
  width: 100%;
  max-width: 1100px;
  padding-top: 80px;
  margin: 0 auto;
  text-align: center;
}
@media only screen and (min-width: 602px) {
  /* line 225, ../scss/sass/screen.scss */
  .hero .hero-content {
    padding-top: 120px;
  }
}
@media only screen and (min-width: 1000px) {
  /* line 225, ../scss/sass/screen.scss */
  .hero .hero-content {
    padding-top: 80px;
  }
}
@media only screen and (min-width: 1025px) {
  /* line 225, ../scss/sass/screen.scss */
  .hero .hero-content {
    padding-top: 60px;
  }
}
/* line 245, ../scss/sass/screen.scss */
.hero .hero-content .facebook-like {
  position: relative;
  margin: 0 auto;
  padding: 10px;
  display: inline-block;
  font-family: "Raleway";
  letter-spacing: 0px;
  text-transform: uppercase;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: white;
  margin-top: 20px;
}
@media only screen and (min-width: 602px) {
  /* line 245, ../scss/sass/screen.scss */
  .hero .hero-content .facebook-like {
    margin: 0 auto;
    letter-spacing: 2px;
  }
}
/* line 264, ../scss/sass/screen.scss */
.hero .hero-content .hero-online-booking {
  display: block;
  padding: 10px;
  border: 1px solid white;
  width: 80%;
  max-width: 300px;
  font-size: 20px;
  text-transform: uppercase;
  color: white;
  margin: 30px auto 0 auto;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  transition: all 200ms linear;
}
/* line 277, ../scss/sass/screen.scss */
.hero .hero-content .hero-online-booking:hover {
  background-color: white;
  color: #532D12;
  border-color: white;
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  transition: all 200ms linear;
}
/* line 285, ../scss/sass/screen.scss */
.hero .hero-content h1 {
  display: inline-block;
  width: 100%;
  text-align: center;
  font-size: 34px;
  font-weight: 500;
  font-family: "Raleway";
  padding: 0;
  margin-bottom: 5px;
  color: white;
  text-shadow: rgba(0, 0, 0, 0.3) 0 0 30px;
}
/* line 296, ../scss/sass/screen.scss */
.hero .hero-content h1 .header-highlight {
  color: white;
  font-weight: 800;
}
@media only screen and (min-width: 602px) {
  /* line 285, ../scss/sass/screen.scss */
  .hero .hero-content h1 {
    margin-bottom: 30px;
    font-size: 80px;
    padding: 20px 20px 20px 20px;
  }
}
@media only screen and (min-width: 1100px) {
  /* line 285, ../scss/sass/screen.scss */
  .hero .hero-content h1 {
    padding: 100px 0 0 0;
    margin-bottom: 30px;
  }
}
@media only screen and (min-width: 768px) {
  /* line 225, ../scss/sass/screen.scss */
  .hero .hero-content {
    display: block;
  }
}

/* line 319, ../scss/sass/screen.scss */
.header {
  position: relative;
  margin: 10px 0 0 0;
  padding: 10px 0 10px 0;
}
/* line 323, ../scss/sass/screen.scss */
.header:before {
  content: "";
  width: 100%;
  height: 1px;
  top: 50%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
}
/* line 332, ../scss/sass/screen.scss */
.header .header-title {
  font-size: 12px;
  text-transform: uppercase;
  background-color: #faf4eb;
  display: inline-block;
  position: relative;
  z-index: 50;
  padding: 0 10px 0 10px;
  margin-left: 20px;
  color: rgba(0, 0, 0, 0.5);
}

/* line 346, ../scss/sass/screen.scss */
.frontpage-articles {
  background-position: bottom left;
  background-repeat: no-repeat;
  background-color: #eae0c6;
}
@media only screen and (min-width: 602px) {
  /* line 346, ../scss/sass/screen.scss */
  .frontpage-articles {
    background-image: url(../images/header-picture-5.jpg);
  }
}

/* line 357, ../scss/sass/screen.scss */
.articles {
  position: relative;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 0;
}
@media only screen and (min-width: 602px) {
  /* line 357, ../scss/sass/screen.scss */
  .articles {
    padding: 20px 0 20px 0;
  }
}
@media only screen and (min-width: 1100px) {
  /* line 357, ../scss/sass/screen.scss */
  .articles {
    width: 1100px;
    margin: 0 auto 0 auto;
  }
}
/* line 373, ../scss/sass/screen.scss */
.articles .main-article-frontpage {
  display: block;
  width: 100%;
  padding: 0 20px 0 20px;
}
@media only screen and (min-width: 602px) {
  /* line 373, ../scss/sass/screen.scss */
  .articles .main-article-frontpage {
    width: 60%;
    margin: 0 auto 0 234px;
  }
}
@media only screen and (min-width: 1025px) {
  /* line 373, ../scss/sass/screen.scss */
  .articles .main-article-frontpage {
    margin: 0 auto 0 auto;
  }
}
/* line 385, ../scss/sass/screen.scss */
.articles .main-article-frontpage h2 {
  padding: 20px 0 10px 0;
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: normal;
}
@media only screen and (min-width: 602px) {
  /* line 385, ../scss/sass/screen.scss */
  .articles .main-article-frontpage h2 {
    font-size: 45px;
  }
}
/* line 395, ../scss/sass/screen.scss */
.articles .main-article-frontpage h3 {
  font-size: 18px;
  margin-bottom: 0;
  font-weight: normal;
}
@media only screen and (min-width: 602px) {
  /* line 395, ../scss/sass/screen.scss */
  .articles .main-article-frontpage h3 {
    font-size: 40px;
  }
}
/* line 403, ../scss/sass/screen.scss */
.articles .main-article-frontpage p {
  display: inline-block;
  width: 100%;
  line-height: 20px;
  font-size: 14px;
}
@media only screen and (min-width: 602px) {
  /* line 403, ../scss/sass/screen.scss */
  .articles .main-article-frontpage p {
    line-height: 24px;
    font-size: 18px;
  }
}
@media only screen and (min-width: 768px) {
  /* line 403, ../scss/sass/screen.scss */
  .articles .main-article-frontpage p {
    width: 100%;
  }
}
/* line 420, ../scss/sass/screen.scss */
.articles .articles-list {
  list-style: none;
  padding: 0;
  margin-top: 0;
  text-align: center;
}
/* line 426, ../scss/sass/screen.scss */
.articles .articles-list .article-container {
  display: inline-block;
  width: 50%;
  vertical-align: top;
  height: 350px;
  overflow: hidden;
  position: relative;
  overflow-x: hidden;
}
/* line 433, ../scss/sass/screen.scss */
.articles .articles-list .article-container img {
  max-width: 300%;
  margin-left: -100%;
}
/* line 437, ../scss/sass/screen.scss */
.articles .articles-list .article-container h2 {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  margin: 0;
  padding: 10px;
}
@media only screen and (min-width: 602px) {
  /* line 426, ../scss/sass/screen.scss */
  .articles .articles-list .article-container {
    width: 50%;
  }
}
@media only screen and (min-width: 768px) {
  /* line 426, ../scss/sass/screen.scss */
  .articles .articles-list .article-container {
    width: 25%;
  }
}

/* line 463, ../scss/sass/screen.scss */
.post-image-article {
  width: 100%;
  height: 234px;
  background-attachment: fixed;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50;
  overflow-y: hidden;
  background-size: 185% auto;
  background-repeat: no-repeat;
}
@media only screen and (min-width: 602px) {
  /* line 463, ../scss/sass/screen.scss */
  .post-image-article {
    height: 310px;
    background-size: 150%;
  }
}
@media only screen and (min-width: 1025px) {
  /* line 463, ../scss/sass/screen.scss */
  .post-image-article {
    height: 500px;
    max-height: 500px;
    background-size: 100% auto;
  }
}
/* line 483, ../scss/sass/screen.scss */
.post-image-article img {
  width: 100%;
}
/* line 486, ../scss/sass/screen.scss */
.post-image-article:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 380px;
  width: 100%;
}
@media only screen and (min-width: 1025px) {
  /* line 486, ../scss/sass/screen.scss */
  .post-image-article:after {
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, transparent), color-stop(100%, #faf4eb));
    background-image: -webkit-linear-gradient(transparent, #faf4eb);
    background-image: -moz-linear-gradient(transparent, #faf4eb);
    background-image: -o-linear-gradient(transparent, #faf4eb);
    background-image: linear-gradient(transparent, #faf4eb);
  }
}

/* line 499, ../scss/sass/screen.scss */
.single-title {
  text-align: center;
  font-size: 30px;
  font-weight: normal;
  position: relative;
  margin-top: 180px;
  margin-bottom: 10px;
  z-index: 80;
  text-transform: uppercase;
  font-family: "Raleway";
  color: #382314;
}
@media only screen and (min-width: 602px) {
  /* line 499, ../scss/sass/screen.scss */
  .single-title {
    font-size: 60px;
    margin-bottom: auto;
  }
}

/* line 516, ../scss/sass/screen.scss */
.main-article {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  position: relative;
  z-index: 100;
}
/* line 524, ../scss/sass/screen.scss */
.main-article article {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
  position: relative;
}
@media only screen and (min-width: 602px) {
  /* line 524, ../scss/sass/screen.scss */
  .main-article article {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 60px;
  }
}
/* line 535, ../scss/sass/screen.scss */
.main-article article .wp-caption {
  display: inline-block;
  position: relative;
  z-index: 80;
  margin-right: 10px;
  margin-top: 20px;
  text-align: center;
}
/* line 544, ../scss/sass/screen.scss */
.main-article article:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 500px;
  width: 100%;
  z-index: 60;
}
/* line 554, ../scss/sass/screen.scss */
.main-article article img {
  width: 47%;
  position: relative;
  z-index: 100;
  border-radius: 50%;
}
@media only screen and (min-width: 602px) {
  /* line 554, ../scss/sass/screen.scss */
  .main-article article img {
    width: auto;
    max-width: 400px;
  }
}
/* line 565, ../scss/sass/screen.scss */
.main-article article .alignright {
  float: right;
  margin-left: 20px;
}
/* line 570, ../scss/sass/screen.scss */
.main-article article .alignleft {
  float: right;
  margin-left: 20px;
}
@media only screen and (min-width: 602px) {
  /* line 570, ../scss/sass/screen.scss */
  .main-article article .alignleft {
    float: left;
    margin-left: 0;
    margin-right: 20px;
  }
}
/* line 585, ../scss/sass/screen.scss */
.main-article article .alignright:after,
.main-article article .alignleft:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
/* line 595, ../scss/sass/screen.scss */
.main-article article p {
  padding: 0;
  z-index: 60;
  position: relative;
  margin-bottom: 40px;
  line-height: 18px;
  font-size: 12px;
}
@media only screen and (min-width: 602px) {
  /* line 595, ../scss/sass/screen.scss */
  .main-article article p {
    font-size: 16px;
    line-height: 23px;
  }
}
/* line 610, ../scss/sass/screen.scss */
.main-article article ul li {
  font-size: 16px;
  margin-left: 0;
  padding-left: 0;
}
@media only screen and (min-width: 602px) {
  /* line 610, ../scss/sass/screen.scss */
  .main-article article ul li {
    font-size: 18px;
    margin-left: 20px;
    padding-left: 20px;
  }
}
/* line 622, ../scss/sass/screen.scss */
.main-article article h3 {
  font-size: 20px;
  font-weight: normal;
  border-bottom: 1px solid rgba(45, 41, 35, 0.2);
  position: relative;
  z-index: 80;
}
@media only screen and (min-width: 602px) {
  /* line 622, ../scss/sass/screen.scss */
  .main-article article h3 {
    font-size: 28px;
  }
}
/* line 632, ../scss/sass/screen.scss */
.main-article article h2 {
  position: relative;
  margin: 0 0 0 0;
  padding: 0;
  margin: 0 0 0 0;
  z-index: 80;
  font-size: 12px;
  display: block;
  position: relative;
  padding: 0;
  color: rgba(0, 0, 0, 0.5);
}
/* line 645, ../scss/sass/screen.scss */
.main-article article h2:before {
  content: "";
  width: 74%;
  right: 0;
  top: 50%;
  height: 1px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
}
@media only screen and (min-width: 602px) {
  /* line 645, ../scss/sass/screen.scss */
  .main-article article h2:before {
    width: 84%;
  }
}
@media only screen and (min-width: 602px) {
  /* line 632, ../scss/sass/screen.scss */
  .main-article article h2 {
    margin: 20px 0 0 0;
  }
}
/* line 663, ../scss/sass/screen.scss */
.main-article article h2:nth-of-type(3) {
  margin-top: 10px;
}
/* line 667, ../scss/sass/screen.scss */
.main-article article h2 + h2 {
  font-size: 28px;
  display: block;
  color: rgba(0, 0, 0, 0.8);
  font-weight: normal;
  margin: 20px 0 0 0;
  position: relative;
  z-index: 80;
}
/* line 677, ../scss/sass/screen.scss */
.main-article article h2 + h2:before {
  height: 0;
}

/* line 686, ../scss/sass/screen.scss */
.footer {
  background-color: #2B1C0D;
  position: relative;
}
/* line 689, ../scss/sass/screen.scss */
.footer .footer-container {
  max-width: 100%;
  width: 1100px;
  margin: 0 auto 0 auto;
  padding-top: 0;
  text-align: center;
}
@media only screen and (min-width: 602px) {
  /* line 689, ../scss/sass/screen.scss */
  .footer .footer-container {
    padding-top: 20px;
  }
}
/* line 699, ../scss/sass/screen.scss */
.footer .footer-container .header {
  color: white;
  background-color: transparent;
}
/* line 703, ../scss/sass/screen.scss */
.footer .footer-container .header .header-title {
  background-color: #4d3925;
  color: rgba(255, 255, 255, 0.1);
}
/* line 707, ../scss/sass/screen.scss */
.footer .footer-container .header:before {
  left: 0;
  background-color: rgba(255, 255, 255, 0.1);
}
/* line 713, ../scss/sass/screen.scss */
.footer .footer-container .footer-section {
  display: inline-block;
  height: 100%;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media only screen and (min-width: 602px) {
  /* line 713, ../scss/sass/screen.scss */
  .footer .footer-container .footer-section {
    margin-bottom: 40px;
  }
}
/* line 722, ../scss/sass/screen.scss */
.footer .footer-container .footer-section .footer-paragraph {
  text-align: left;
  padding: 10px 20px 20px 20px;
  margin: 0;
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-family: verdana;
  line-height: 20px;
}
@media only screen and (min-width: 602px) {
  /* line 722, ../scss/sass/screen.scss */
  .footer .footer-container .footer-section .footer-paragraph {
    font-family: "Raleway";
    line-height: 24px;
    font-size: 16px;
  }
}
/* line 736, ../scss/sass/screen.scss */
.footer .footer-container .footer-section .footer-paragraph a {
  color: white;
  text-decoration: underline;
}
/* line 741, ../scss/sass/screen.scss */
.footer .footer-container .footer-section h4 {
  padding: 18px 18px 10px 18px;
  margin: 0;
  font-weight: normal;
  font-size: 16px;
  text-align: left;
  color: rgba(255, 255, 255, 0.9);
}
@media only screen and (min-width: 602px) {
  /* line 741, ../scss/sass/screen.scss */
  .footer .footer-container .footer-section h4 {
    font-size: 20px;
  }
}
/* line 757, ../scss/sass/screen.scss */
.footer .kart {
  display: block;
  width: 100%;
  height: 397px;
  background-image: url(../images/anyu-kart.jpg);
  background-position: center;
}

/* line 773, ../scss/sass/screen.scss */
.dandelion-1,
.dandelion-2,
.dandelion-3,
.dandelion-4,
.dandelion-5 {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 50%;
  margin-top: -180px;
  left: 50%;
  margin-left: 130px;
  background-image: url("../images/dandelion.svg");
  background-size: 40px;
}

/* line 787, ../scss/sass/screen.scss */
.dandelion-1 {
  -webkit-animation: dandelion-1 10s infinite linear;
  -moz-animation: dandelion-1 10s infinite linear;
  -ms-animation: dandelion-1 10s infinite linear;
  -o-animation: dandelion-1 10s infinite linear;
  animation: dandelion-1 10s infinite linear;
}

/* line 790, ../scss/sass/screen.scss */
.dandelion-2 {
  -webkit-animation: dandelion-2 15s infinite linear;
  -moz-animation: dandelion-2 15s infinite linear;
  -ms-animation: dandelion-2 15s infinite linear;
  -o-animation: dandelion-2 15s infinite linear;
  animation: dandelion-2 15s infinite linear;
}

/* line 793, ../scss/sass/screen.scss */
.dandelion-3 {
  -webkit-animation: dandelion-3 20s infinite linear;
  -moz-animation: dandelion-3 20s infinite linear;
  -ms-animation: dandelion-3 20s infinite linear;
  -o-animation: dandelion-3 20s infinite linear;
  animation: dandelion-3 20s infinite linear;
}

/* line 796, ../scss/sass/screen.scss */
.dandelion-4 {
  -webkit-animation: dandelion-4 10s infinite linear;
  -moz-animation: dandelion-4 10s infinite linear;
  -ms-animation: dandelion-4 10s infinite linear;
  -o-animation: dandelion-4 10s infinite linear;
  animation: dandelion-4 10s infinite linear;
}

@-webkit-keyframes dandelion-1 {
  /* line 817, ../scss/sass/screen.scss */
  0% {
    opacity: 0;
  }

  /* line 820, ../scss/sass/screen.scss */
  15% {
    opacity: 1;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  /* line 824, ../scss/sass/screen.scss */
  20% {
    -webkit-transform: rotate(50deg);
    -moz-transform: rotate(50deg);
    -ms-transform: rotate(50deg);
    -o-transform: rotate(50deg);
    transform: rotate(50deg);
  }

  /* line 827, ../scss/sass/screen.scss */
  25% {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  /* line 831, ../scss/sass/screen.scss */
  60% {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  /* line 834, ../scss/sass/screen.scss */
  75% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 0;
    left: 10%;
    top: 20%;
  }

  /* line 840, ../scss/sass/screen.scss */
  100% {
    opacity: 0;
  }
}

@-moz-keyframes dandelion-1 {
  /* line 817, ../scss/sass/screen.scss */
  0% {
    opacity: 0;
  }

  /* line 820, ../scss/sass/screen.scss */
  15% {
    opacity: 1;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  /* line 824, ../scss/sass/screen.scss */
  20% {
    -webkit-transform: rotate(50deg);
    -moz-transform: rotate(50deg);
    -ms-transform: rotate(50deg);
    -o-transform: rotate(50deg);
    transform: rotate(50deg);
  }

  /* line 827, ../scss/sass/screen.scss */
  25% {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  /* line 831, ../scss/sass/screen.scss */
  60% {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  /* line 834, ../scss/sass/screen.scss */
  75% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 0;
    left: 10%;
    top: 20%;
  }

  /* line 840, ../scss/sass/screen.scss */
  100% {
    opacity: 0;
  }
}

@-ms-keyframes dandelion-1 {
  /* line 817, ../scss/sass/screen.scss */
  0% {
    opacity: 0;
  }

  /* line 820, ../scss/sass/screen.scss */
  15% {
    opacity: 1;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  /* line 824, ../scss/sass/screen.scss */
  20% {
    -webkit-transform: rotate(50deg);
    -moz-transform: rotate(50deg);
    -ms-transform: rotate(50deg);
    -o-transform: rotate(50deg);
    transform: rotate(50deg);
  }

  /* line 827, ../scss/sass/screen.scss */
  25% {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  /* line 831, ../scss/sass/screen.scss */
  60% {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  /* line 834, ../scss/sass/screen.scss */
  75% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 0;
    left: 10%;
    top: 20%;
  }

  /* line 840, ../scss/sass/screen.scss */
  100% {
    opacity: 0;
  }
}

@keyframes dandelion-1 {
  /* line 817, ../scss/sass/screen.scss */
  0% {
    opacity: 0;
  }

  /* line 820, ../scss/sass/screen.scss */
  15% {
    opacity: 1;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  /* line 824, ../scss/sass/screen.scss */
  20% {
    -webkit-transform: rotate(50deg);
    -moz-transform: rotate(50deg);
    -ms-transform: rotate(50deg);
    -o-transform: rotate(50deg);
    transform: rotate(50deg);
  }

  /* line 827, ../scss/sass/screen.scss */
  25% {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  /* line 831, ../scss/sass/screen.scss */
  60% {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  /* line 834, ../scss/sass/screen.scss */
  75% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 0;
    left: 10%;
    top: 20%;
  }

  /* line 840, ../scss/sass/screen.scss */
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes dandelion-2 {
  /* line 846, ../scss/sass/screen.scss */
  0% {
    opacity: 0;
  }

  /* line 849, ../scss/sass/screen.scss */
  50% {
    left: 50%;
    top: 50%;
    opacity: 0;
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }

  /* line 855, ../scss/sass/screen.scss */
  75% {
    opacity: 1;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  /* line 859, ../scss/sass/screen.scss */
  80% {
    -webkit-transform: rotate(50deg);
    -moz-transform: rotate(50deg);
    -ms-transform: rotate(50deg);
    -o-transform: rotate(50deg);
    transform: rotate(50deg);
  }

  /* line 862, ../scss/sass/screen.scss */
  85% {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  /* line 865, ../scss/sass/screen.scss */
  100% {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    opacity: 0;
    left: 60%;
    top: 10%;
  }
}

@-moz-keyframes dandelion-2 {
  /* line 846, ../scss/sass/screen.scss */
  0% {
    opacity: 0;
  }

  /* line 849, ../scss/sass/screen.scss */
  50% {
    left: 50%;
    top: 50%;
    opacity: 0;
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }

  /* line 855, ../scss/sass/screen.scss */
  75% {
    opacity: 1;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  /* line 859, ../scss/sass/screen.scss */
  80% {
    -webkit-transform: rotate(50deg);
    -moz-transform: rotate(50deg);
    -ms-transform: rotate(50deg);
    -o-transform: rotate(50deg);
    transform: rotate(50deg);
  }

  /* line 862, ../scss/sass/screen.scss */
  85% {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  /* line 865, ../scss/sass/screen.scss */
  100% {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    opacity: 0;
    left: 60%;
    top: 10%;
  }
}

@-ms-keyframes dandelion-2 {
  /* line 846, ../scss/sass/screen.scss */
  0% {
    opacity: 0;
  }

  /* line 849, ../scss/sass/screen.scss */
  50% {
    left: 50%;
    top: 50%;
    opacity: 0;
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }

  /* line 855, ../scss/sass/screen.scss */
  75% {
    opacity: 1;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  /* line 859, ../scss/sass/screen.scss */
  80% {
    -webkit-transform: rotate(50deg);
    -moz-transform: rotate(50deg);
    -ms-transform: rotate(50deg);
    -o-transform: rotate(50deg);
    transform: rotate(50deg);
  }

  /* line 862, ../scss/sass/screen.scss */
  85% {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  /* line 865, ../scss/sass/screen.scss */
  100% {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    opacity: 0;
    left: 60%;
    top: 10%;
  }
}

@keyframes dandelion-2 {
  /* line 846, ../scss/sass/screen.scss */
  0% {
    opacity: 0;
  }

  /* line 849, ../scss/sass/screen.scss */
  50% {
    left: 50%;
    top: 50%;
    opacity: 0;
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }

  /* line 855, ../scss/sass/screen.scss */
  75% {
    opacity: 1;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  /* line 859, ../scss/sass/screen.scss */
  80% {
    -webkit-transform: rotate(50deg);
    -moz-transform: rotate(50deg);
    -ms-transform: rotate(50deg);
    -o-transform: rotate(50deg);
    transform: rotate(50deg);
  }

  /* line 862, ../scss/sass/screen.scss */
  85% {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  /* line 865, ../scss/sass/screen.scss */
  100% {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    opacity: 0;
    left: 60%;
    top: 10%;
  }
}

@-webkit-keyframes dandelion-3 {
  /* line 874, ../scss/sass/screen.scss */
  0% {
    opacity: 0;
  }

  /* line 877, ../scss/sass/screen.scss */
  25% {
    left: 50%;
    top: 50%;
    opacity: 0;
  }

  /* line 882, ../scss/sass/screen.scss */
  45% {
    opacity: 1;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  /* line 886, ../scss/sass/screen.scss */
  50% {
    -webkit-transform: rotate(50deg);
    -moz-transform: rotate(50deg);
    -ms-transform: rotate(50deg);
    -o-transform: rotate(50deg);
    transform: rotate(50deg);
  }

  /* line 889, ../scss/sass/screen.scss */
  55% {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  /* line 892, ../scss/sass/screen.scss */
  100% {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    opacity: 0;
    left: 80%;
    top: 60%;
  }
}

@-moz-keyframes dandelion-3 {
  /* line 874, ../scss/sass/screen.scss */
  0% {
    opacity: 0;
  }

  /* line 877, ../scss/sass/screen.scss */
  25% {
    left: 50%;
    top: 50%;
    opacity: 0;
  }

  /* line 882, ../scss/sass/screen.scss */
  45% {
    opacity: 1;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  /* line 886, ../scss/sass/screen.scss */
  50% {
    -webkit-transform: rotate(50deg);
    -moz-transform: rotate(50deg);
    -ms-transform: rotate(50deg);
    -o-transform: rotate(50deg);
    transform: rotate(50deg);
  }

  /* line 889, ../scss/sass/screen.scss */
  55% {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  /* line 892, ../scss/sass/screen.scss */
  100% {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    opacity: 0;
    left: 80%;
    top: 60%;
  }
}

@-ms-keyframes dandelion-3 {
  /* line 874, ../scss/sass/screen.scss */
  0% {
    opacity: 0;
  }

  /* line 877, ../scss/sass/screen.scss */
  25% {
    left: 50%;
    top: 50%;
    opacity: 0;
  }

  /* line 882, ../scss/sass/screen.scss */
  45% {
    opacity: 1;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  /* line 886, ../scss/sass/screen.scss */
  50% {
    -webkit-transform: rotate(50deg);
    -moz-transform: rotate(50deg);
    -ms-transform: rotate(50deg);
    -o-transform: rotate(50deg);
    transform: rotate(50deg);
  }

  /* line 889, ../scss/sass/screen.scss */
  55% {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  /* line 892, ../scss/sass/screen.scss */
  100% {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    opacity: 0;
    left: 80%;
    top: 60%;
  }
}

@keyframes dandelion-3 {
  /* line 874, ../scss/sass/screen.scss */
  0% {
    opacity: 0;
  }

  /* line 877, ../scss/sass/screen.scss */
  25% {
    left: 50%;
    top: 50%;
    opacity: 0;
  }

  /* line 882, ../scss/sass/screen.scss */
  45% {
    opacity: 1;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  /* line 886, ../scss/sass/screen.scss */
  50% {
    -webkit-transform: rotate(50deg);
    -moz-transform: rotate(50deg);
    -ms-transform: rotate(50deg);
    -o-transform: rotate(50deg);
    transform: rotate(50deg);
  }

  /* line 889, ../scss/sass/screen.scss */
  55% {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  /* line 892, ../scss/sass/screen.scss */
  100% {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    opacity: 0;
    left: 80%;
    top: 60%;
  }
}

@-webkit-keyframes dandelion-4 {
  /* line 901, ../scss/sass/screen.scss */
  0% {
    opacity: 0;
  }

  /* line 904, ../scss/sass/screen.scss */
  25% {
    left: 50%;
    top: 50%;
    opacity: 0;
  }

  /* line 909, ../scss/sass/screen.scss */
  45% {
    opacity: 1;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  /* line 913, ../scss/sass/screen.scss */
  50% {
    -webkit-transform: rotate(50deg);
    -moz-transform: rotate(50deg);
    -ms-transform: rotate(50deg);
    -o-transform: rotate(50deg);
    transform: rotate(50deg);
  }

  /* line 916, ../scss/sass/screen.scss */
  55% {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  /* line 919, ../scss/sass/screen.scss */
  100% {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    opacity: 0;
    left: 60%;
    top: 90%;
  }
}

@-moz-keyframes dandelion-4 {
  /* line 901, ../scss/sass/screen.scss */
  0% {
    opacity: 0;
  }

  /* line 904, ../scss/sass/screen.scss */
  25% {
    left: 50%;
    top: 50%;
    opacity: 0;
  }

  /* line 909, ../scss/sass/screen.scss */
  45% {
    opacity: 1;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  /* line 913, ../scss/sass/screen.scss */
  50% {
    -webkit-transform: rotate(50deg);
    -moz-transform: rotate(50deg);
    -ms-transform: rotate(50deg);
    -o-transform: rotate(50deg);
    transform: rotate(50deg);
  }

  /* line 916, ../scss/sass/screen.scss */
  55% {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  /* line 919, ../scss/sass/screen.scss */
  100% {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    opacity: 0;
    left: 60%;
    top: 90%;
  }
}

@-ms-keyframes dandelion-4 {
  /* line 901, ../scss/sass/screen.scss */
  0% {
    opacity: 0;
  }

  /* line 904, ../scss/sass/screen.scss */
  25% {
    left: 50%;
    top: 50%;
    opacity: 0;
  }

  /* line 909, ../scss/sass/screen.scss */
  45% {
    opacity: 1;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  /* line 913, ../scss/sass/screen.scss */
  50% {
    -webkit-transform: rotate(50deg);
    -moz-transform: rotate(50deg);
    -ms-transform: rotate(50deg);
    -o-transform: rotate(50deg);
    transform: rotate(50deg);
  }

  /* line 916, ../scss/sass/screen.scss */
  55% {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  /* line 919, ../scss/sass/screen.scss */
  100% {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    opacity: 0;
    left: 60%;
    top: 90%;
  }
}

@keyframes dandelion-4 {
  /* line 901, ../scss/sass/screen.scss */
  0% {
    opacity: 0;
  }

  /* line 904, ../scss/sass/screen.scss */
  25% {
    left: 50%;
    top: 50%;
    opacity: 0;
  }

  /* line 909, ../scss/sass/screen.scss */
  45% {
    opacity: 1;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  /* line 913, ../scss/sass/screen.scss */
  50% {
    -webkit-transform: rotate(50deg);
    -moz-transform: rotate(50deg);
    -ms-transform: rotate(50deg);
    -o-transform: rotate(50deg);
    transform: rotate(50deg);
  }

  /* line 916, ../scss/sass/screen.scss */
  55% {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  /* line 919, ../scss/sass/screen.scss */
  100% {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    opacity: 0;
    left: 60%;
    top: 90%;
  }
}

/* line 929, ../scss/sass/screen.scss */
.size-thumbnail,
.size-medium,
.size-full {
  -webkit-box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.1);
  background-color: white;
  padding: 14px;
  position: relative;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
