/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */


@import "compass";
@import "animation";
@import "_base";

$mainColor: #4d3925;
$sandColor: #faf4eb;

body,html {
  background-color: #faf4eb;
  color: #3f3c36;
  font-family: $regularFont;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

a {
 color: #2d2923;
 font-family: $regularFont;
 text-decoration: none;
}

.main-header {
  width: 100%;
  position: fixed;
  top: 0;
  height: 50px;
  display: block;
  left: 0;
  background-color: transparent;
  z-index: 1000;
  opacity: 1;

  @media #{$ipadPortrait} {
    display: block;
    position: fixed;
    height: auto;
    
    &.active {
      .main-navigation {
        .anyu-logo {
          height: 49px;
          margin: 0 auto 0 auto;
          background-position: 0px -73px;
          @include transition(all 200ms linear);
        }
        ul {
          li {
            a {
              @media #{$otherThanPhone} {
                padding-top: 16px;
                padding-bottom: 0;
                @include transition(all 200ms linear);
              }
            }
          }
        }
      }
    }
  }




  .main-navigation {
    display: block;
    position: relative;
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    text-align: right;

    .mobile-menu-toggle {
      background: {
        image: url(../images/menu.svg);
        size: 80%;
        position: 10px 10px;
        repeat: no-repeat;
      }
        position: absolute;
        right: 10px;
        top: 0;
        width: 35px;
        height: 50px;
        border: 0;
        padding: 0;
        background-color: transparent;
        margin: 0;
        @media #{$otherThanPhone} {
          display: none;
        }
    }

    .anyu-logo {
      vertical-align: top;
      display: block;
      margin: 0 8px 0 0;
      width: 160px;
      height: 50px;
      background: {
        image: url(../images/anyu-logo.svg);
        size: 110px;
        repeat: no-repeat;
        position: 0 0;
      }
      @include transition(all 200ms linear);
      @media #{$ipadPortrait} {
        height: 66px;
        margin: 23px auto 8px auto;
        display: inline-block;
        background-size: 160px;
        position: absolute;
        left: 0;
      }
    }

    ul {
      position: relative;
      vertical-align: top;
      list-style: none;
      margin-top: 0px;
      margin: 0;
      display: none;
      padding: 0;
      text-align: center;
      @include transition(all 200ms linear);
      @media #{$otherThanPhone} {
        display: inline-block;
      }

      @media #{$ipadPortrait} {
        text-align: left;
      }
      li {
        position: relative;
        display: block;
        font-size: 15px;
        background-color: $mainColor;
        width: 100%;
        text-transform: uppercase;
        text-align: left;
        padding-left: 10px;
        border-bottom: 0px solid #928059;
        vertical-align: top;
        margin-bottom: 0;
        @include transition(all 300ms linear);

        @media #{$otherThanPhone} {
          padding: 0;
          background-color: transparent;
          display: inline-block;
          width: auto;
          max-width: 238px;
          text-align: center;
        }

        @media #{$desktop} {
          &:hover {
            a {
              color: white;
              text-decoration: underline;
            }
          }
        }

        .sub-menu {
          position: relative;
          width: 100%;
          margin: 0 0 0 0;
          display: block;
          list-style: none;
          padding: 10px;
          height: auto;
          text-align: center;
          

          @media #{$otherThanPhone} {
            background-color: transparent;
            width: 100%;
            padding: 0;
            margin: 0 0 0 0;
            position: relative;
            display: inline-block;
            height: 0;
            overflow-y: hidden;
            @include transition(all 500ms linear);
          }

          li {
            display: inline-block;
            text-align: left;
            @media #{$otherThanPhone} {
              text-align: center;
              display: block;
              background-color: transparent;

            }
            a {
              font-weight: normal;
              text-decoration: none;
              text-align: left;
              color: fade-out(white, 0.5);

              @include transition(color 400ms linear);

              @media #{$otherThanPhone} {
                text-align: center;
                color: rgba(84,72,55,0);
                padding: 5px 20px 14px 20px;
              }
            }
          }
        }

        @media #{$otherThanPhone} {
          &.menu-item-has-children {
            &:hover {
              margin-bottom: 10px;
              @include transition(all 500ms linear);
              .sub-menu {
                height: auto;
                @include transition(all 500ms linear);
                li {
                  a {
                    color: rgba(153,143,122,1);
                    @include transition(color 400ms linear);
                    @media #{$desktop} {
                      &:hover {
                        color: rgba(153,143,122,0.6);
                      }
                    }
                  }
                }
              }
            }
          }
        }

        &:last-of-type {
          a {
            font-weight: bold;
          }
        }

        @media #{$desktop} {
          &:hover {
          }
        }
        a {
          color: lighten(#2d2923,40%);
          padding: 5px 5px 5px 5px;
          display: block;
          @include transition(all 200ms linear);

          @media #{$ipadPortrait} {
            padding: 50px 10px 10px 10px;
            font-family: $curlyFont;
            font-size: 16px;
            color: #efeee6;
          }

          @media #{$ipadLandscape} {
            padding: 50px 10px 10px 10px;

          }
        }
      }
    }
  }
}

.hero {
  display: block;
  height: 100%;
  margin-top: 0;
  background-attachment:fixed;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  position: relative;
  background: {
    image: url(../images/hovedbilde.jpg);
    repeat: no-repeat;
    size: auto 100%;
    position: center;
  }

  @media #{$otherThanPhone} {
    margin-top: 0;
    height: 800px;
    background: {
      size: 100%;
      position: 0 0;
    }
  }


  

  .hero-content {
    width: 100%;
    max-width: 1100px;
    padding-top: 80px;
    
    margin: 0 auto;
    text-align: center;
    
    @media #{$otherThanPhone} {
      padding-top: 60px;
    }

    .hero-online-booking {
      display: block;
      padding: 10px;
      border: 1px solid white;
      width: 300px;
      font-size: 20px;
      text-transform: uppercase;
      color: white;

      margin: 30px auto 0 auto;
      @include border-radius(15px);
    }

    h1 {
      display: inline-block;
      width: 100%;
      text-align: center;      
      font-size: 32px;
      text-transform: uppercase;
      font-weight: 700;
      font-family: $cursiveFont;
      padding: 0;
      margin-bottom: 5px;
      color: white;
      text-shadow: 0 0 20px rgba(0,0,0,0.3);
      .header-highlight {
        color: #efc99a;
      }

      @media #{$otherThanPhone} {
        margin-bottom: auto;
        font-size: 60px;
        //letter-spacing: 3px;
        padding: 20px 20px 20px 20px;
      }
      @media #{$megaDesktop} {
        padding: 100px 0 0 0;
        margin-bottom: 10px;
      }
    }
    @media #{$ipadPortrait} {
     display: block;
    }
  }
}

.header {
  position: relative;
  margin: 10px 0 0 0;

  &:before {
    content: "";
    width: 100%;
    height: 1px;
    top: 50%;
    position: absolute;
    background-color: rgba(0,0,0,0.3);
  }

  .header-title {
    font-size: 12px;
    text-transform: uppercase;
    background-color: $sandColor;
    display: inline-block;
    position: relative;
    z-index: 50;
    padding: 0 10px 0 10px;
    margin-left: 20px;
    color: rgba(0,0,0,0.5);
  }
  padding: 10px 0 10px 0;
}

.articles {
  position: relative;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 0;
  @media #{$megaDesktop} {
    padding: 0;
    width: 1100px;
    margin: 0 auto 0 auto;
  }


  .main-article-frontpage {
    display: block;
    width: 100%;
    h2 {
      font-size: 20px;
      margin-bottom: 0;
      font-weight: normal;
      @media #{$otherThanPhone} {
        font-size: 25px;  
      }
    }
    h3 {
      font-size: 18px;
      margin-bottom: 0;
      font-weight: normal;
      @media #{$otherThanPhone} {
        font-size: 23px;  
      }
    }
    p {
      display: inline-block;
      width: 100%;
      line-height: 20px;
      font-size: 14px;
      @media #{$otherThanPhone} {
        line-height: 24px;
        font-size: 18px;
      }
      @media #{$ipadPortrait} {
        width: 50%;
      }


    }

    .post-image {

      display: none;

      @media #{$ipadPortrait} {
        display: inline-block;
        @include box-shadow(0 1px 1px 1px rgba(0,0,0,0.1));
        background-color: white;
        padding: 14px;
        position: relative;
        @include border-radius(4px);
      }
      float: right;
      width: 40%;
      height: 100%;

      img {
        width: 100%;
      }
    } 
  }

  .articles-list {
    list-style: none;
    padding: 0;
    margin-top: 0;
    text-align: center;

    .article-container {
      display: inline-block;
      width: 49%;
      vertical-align: top;
      padding: 10px;
      @media #{$otherThanPhone} {
        width: 46%;
      }
      overflow-x: hidden;
      &:nth-child(odd) {
        margin-right: 1%;
        @media #{$otherThanPhone} {
          margin-right: 4%;
        }
      }

      @media #{$ipadPortrait} {
        width: 23%;
        margin-right: 1%;
        &:nth-child(odd) {
          margin-right: 1%;
        }
        &:nth-child(4n+4) {
          margin-right: 0;
        }
      }
      article {
        @include box-shadow(0 1px 1px 1px rgba(0,0,0,0.1));
        background-color: white;
        padding: 8px;
        position: relative;
        @include border-radius(4px);
        @media #{$otherThanPhone} {        
          padding: 14px;
        }

        .size-full {
          width: 95%;
          position: relative;
          padding: 0;
          background: none;
          @include border-radius(0);
          @include box-shadow(0 0 0 0 rgba(0,0,0,0));
        }

        h2 {
          font-size: 18px;
          text-align: center;
          margin: 0;
          font-weight: normal;
          color: #705c3d;
          padding: 10px 10px 10px 10px;
          @media #{$otherThanPhone} {
            font-size: 22px;
          }
        }
        p {
          margin: 0;
          font-size: 16px;
          line-height: 23px;
          img {
            width: 95%;
            margin-top: 0;
            margin-bottom: 0;
          }
        }
        a {
          display: block;
          color: #544837;
          text-decoration: underline;
          position: relative;
          &:after {
           position: absolute;
            bottom: 2.5%;
            height: 40px;
            background-color: rgba(0,0,0,0.2);
            width: 95%;
            text-align: center;
            left: 2.5%;
            z-index: 100;
            color: white;
            padding-top: 18px;
            content: "Les mer om behandlingen..";
            opacity: 0;
            @include transition(all 400ms linear);
          }
          @media #{$otherThanPhone} {
            &:hover {
              &:after {
                opacity: 1;
                @include transition(all 400ms linear);
              }
            }
          }
        }

        .post-image {
          display: none;
        }
        &:after {
         visibility: hidden;
         display: block;
         font-size: 0;
         content: " ";
         clear: both;
         height: 0;
        }
      }
    }
  }
}

.post-image-article {
  width: 100%;
  height: 310px;
  background-attachment: fixed;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50;
  overflow-y: hidden;
  background-size: 185% auto;
  background-repeat: no-repeat;
  
  @media #{$otherThanPhone} {
    height: 500px;
    background-size: 100% auto;
  }
  img {
    width: 100%;
  }
  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 200px;
    width: 100%;
    @include background-image(linear-gradient(transparent, #faf4eb));
  }
}

.single-title {
  text-align: center;
  font-size: 30px;
  font-weight: normal;
  position: relative;
  margin-top: 180px;
  margin-bottom: 10px;
  z-index: 80;
  text-transform: uppercase;
  font-family: $curlyFont;
  color: #382314;
  @media #{$otherThanPhone} {
    font-size: 60px;
    margin-bottom: auto;
  }
}

.main-article {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;


  article {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    position: relative;
    @media #{$otherThanPhone} {
      padding-left: 100px;
      padding-right: 100px;
      padding-top: 60px;
    }

    .wp-caption {
      display: inline-block;
      position: relative;
      z-index: 80;
      margin-right: 10px;
      margin-top: 20px;
      text-align: center;
    }

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 500px;
      width: 100%;
      background-color: fade-out($sandColor, 0.2);
      z-index: 60;
    }

    img {
      width: 47%;
      position: relative;
      z-index: 100;
      @media #{$otherThanPhone} {
        width: auto;
        max-width: 400px;
      }
    }

    .alignright {
      float: right;
      margin-left: 20px;

    }
    .alignleft {
      float: right;
      margin-left: 20px;
      
      @media #{$otherThanPhone} {
        float: left;
        margin-left: 0;
        margin-right: 20px;

      }
    }

    .alignright,
    .alignleft {

      &:after {
        visibility: hidden;
        display: block;
        font-size: 0;
        content: " ";
        clear: both;
        height: 0;
      } 
    }

    p {
      padding: 0;
      z-index: 60;
      position: relative;
      margin-bottom: 40px;
      line-height: 18px;
      font-size: 12px;
      @media #{$otherThanPhone} {
        font-size: 16px;
        line-height: 23px;
      }

    }

    ul {
      li {
        font-size: 16px;
        margin-left: 0;
        padding-left: 0;
        @media #{$otherThanPhone} {
          font-size: 18px;
          margin-left: 20px;
          padding-left: 20px;
        }
      }
    }

    h3 {
      font-size: 20px;
      font-weight: normal;
      border-bottom: 1px solid fade-out(#2d2923,0.8);
      position: relative;
      z-index: 80;
      @media #{$otherThanPhone} {
        font-size: 28px;
      }
    }
    h2 {
      position: relative;
      margin: 0 0 0 0;
      padding: 0;
      margin: 0 0 0 0;
      z-index: 80;

      font-size: 12px;
      display: block;
      position: relative;
      padding: 0;
      color: rgba(0,0,0,0.5);

      &:before {
        content: "";
        width: 74%;
        right: 0;
        top: 50%;
        height: 1px;
        
        position: absolute;
        background-color: rgba(0,0,0,0.3);
        @media #{$otherThanPhone} {
          width: 84%;
        }
      }

      @media #{$otherThanPhone} {
        margin: 20px 0 0 0;
      }

      &:nth-of-type(3) {
        margin-top: 10px;
      }

      + h2 {
        font-size: 28px;
        display: block;
        color: rgba(0,0,0,0.8);
        font-weight: normal;
        margin: 20px 0 0 0;
        position: relative;
        z-index: 80;
        
        
        &:before {
          height: 0;
        }
      }
    }
  }
}


.footer {
  background-color: $mainColor;
  position: relative;
  .footer-container {
    max-width: 100%;
    width: 1100px;
    margin: 0 auto 0 auto;
    padding-top: 0;
    text-align: center;
    @media #{$otherThanPhone} {
      padding-top: 20px;  
    }

    .header {
      color: white;

      background-color: transparent;
      .header-title {
        background-color: $mainColor;
        color: fade-out(white, 0.9);
      }
      &:before {
        left: 0;
        background-color:fade-out(white, 0.9);
      }
    }

    .footer-section {
      display: inline-block;
      
      height: 100%;
      vertical-align: top;
      @media #{$otherThanPhone} {
        margin-bottom: 40px;
      }
      @include box-sizing(border-box);
      .footer-paragraph {
        text-align: left;
        padding: 10px 20px 20px 20px;
        margin: 0;
        color: rgba(255,255,255,0.5);
        font-size: 14px;
        font-family: verdana;
        line-height: 20px;
        @media #{$otherThanPhone} {
          font-family: $regularFont;
          line-height: 24px;
          font-size: 16px;
        }

        a {
          color: white;
          text-decoration: underline;
        }
      }
      h4 {
        padding: 18px 18px 10px 18px;
        margin: 0;
        font-weight: normal;
        font-size: 16px;
        text-align: left;
        color: rgba(255,255,255,0.9);
        @media #{$otherThanPhone} {
          font-size: 20px;
        }
      }

      @media #{$ipadPortrait} {
      }
    }
  }
  .kart {
    display: block;
    width: 100%;
    height:397px;
    background: {
      image: url(../images/anyu-kart.jpg);
      position: center;
    }
  }
}


.dandelion-1,
.dandelion-2,
.dandelion-3,
.dandelion-4,
.dandelion-5 {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 50%;
  margin-top: -180px;
  left: 50%;
  margin-left: 130px;
  background: {
    image: url('../images/dandelion.svg');
    size: 40px;
  }
}

.dandelion-1 {
  @include animation(dandelion-1 10s infinite linear);
}
.dandelion-2 {
  @include animation(dandelion-2 15s infinite linear);
}
.dandelion-3 {
  @include animation(dandelion-3 20s infinite linear);
}
.dandelion-4 {
  @include animation(dandelion-4 10s infinite linear);
}

// For making a keyframe animation
@mixin keying($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}

@include keying(dandelion-1) {
  0% {
    opacity: 0;
  }
  15% {
    opacity: 1;
    @include transform(rotate(45deg));
  }
  20% {
   @include transform(rotate(50deg));
  }
  25% {
   @include transform(rotate(45deg));
  }

  60% {
    @include transform(rotate(-45deg));
  }
  75% {
    @include transform(rotate(0deg));
    opacity: 0;
    left:10%;
    top: 20%;
  }
  100% {
    opacity: 0;
  }
}

@include keying(dandelion-2) {
  0% {
    opacity: 0;
  }
  50% {
    left: 50%;
    top: 50%;
    opacity: 0;
    @include transform(rotate(0));
  }
  75% {
    opacity: 1;
    @include transform(rotate(45deg));
  }
  80% {
    @include transform(rotate(50deg));
  }
  85% {
    @include transform(rotate(45deg));
  }
  100% {
    @include transform(rotate(-45deg));
    opacity: 0;
    left:60%;
    top: 10%;
  }
}

@include keying(dandelion-3) {
  0% {
    opacity: 0;
  }
  25% {
    left: 50%;
    top: 50%;
    opacity: 0;
  }
  45% {
    opacity: 1;
    @include transform(rotate(45deg));
  }
  50% {
    @include transform(rotate(50deg));
  }
  55% {
    @include transform(rotate(45deg));
  }
  100% {
    @include transform(rotate(-45deg));
    opacity: 0;
    left:80%;
    top: 60%;
  }
}

@include keying(dandelion-4) {
  0% {
    opacity: 0;
  }
  25% {
    left: 50%;
    top: 50%;
    opacity: 0;
  }
  45% {
    opacity: 1;
    @include transform(rotate(45deg));
  }
  50% {
    @include transform(rotate(50deg));
  }
  55% {
    @include transform(rotate(45deg));
  }
  100% {
    @include transform(rotate(-45deg));
    opacity: 0;
    left:60%;
    top: 90%;
  }
}

.facebook-like {
  position: relative;
  margin: 0 auto;
  padding: 10px;
  display: inline-block;
  font-family: $cursiveFont;
  letter-spacing: 2px;
  text-transform: uppercase;
  @include border-bottom-left-radius(5px);
  @include border-bottom-right-radius(5px);
  background-color: fade-out(#544837, 0.9);
  color: white;
  @media #{$otherThanPhone} {

  }
}

.size-thumbnail,
.size-medium,
.size-full {
  @include box-shadow(0 1px 1px 1px rgba(0,0,0,0.1));
  background-color: white;
  padding: 14px;
  position: relative;
  @include border-radius(4px);
}