/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */


@import "compass";
@import "animation";
@import "_base";

$mainColor: #4d3925;
$sandColor: #faf4eb;

body,html {
  background-color: #faf4eb;
  color: #3f3c36;
  font-family: $bevan;
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  .mobile-hide {
    overflow: hidden;
    height: 100px;
  }
}

a {
 color: #2d2923;
 font-family: $bevan;
 text-decoration: none;
}

.main-header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  height: 80px;
  text-transform: uppercase;
  background-color: white;
  @include transition(background-color 1s);
  &.highlight-menu {
    background-color: rgba(255,255,255,0.6);
    @include transition(background-color 1s);
  }
  @media #{$bigMenu} {
    background-color: transparent;
  }

  .mobile-menu-toggle {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 30px;
    height: 30px;
    border: 0;
    background: {
      image: url(../images/hamburger.png);
      repeat: no-repeat;
      size: 100%;
      color: transparent;
    }
    z-index: 100001;
    @media #{$bigMenu} {
      display: none;
    }
  }



  .main-navigation {
    position: relative;
    max-width: 1100px;
    margin: 0 auto;
    .anyu-logo {
      position: absolute;
      top: -70px;
      left: 0;
      width: 170px;
      height: 170px;
      background: {
        //color: #35260a;
        image: url(../images/anyu-logo-brown.svg);
        size: 94%;
        position: 14px 70px;
        repeat: no-repeat;
      }
      @include border-radius(50%);
    }

    .top-nav {
      list-style: none;
      margin: 0;
      padding: 0;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 0;
      overflow: hidden;
      border-top: 80px solid transparent;
      @include transition(height 200 ms);

      &.mobile-show {
        height: 100%;
        overflow: auto;
        @include transition(height 200 ms);
      }

      @media #{$bigMenu} {
        height: 100%;
        position: relative;
        text-align: right;
        background-color: transparent;
        border-top: 0;
        overflow: visible;
      }

      .menu-item {
        display: block;
        vertical-align: top;
        padding: 20px 10px 20px 10px;
        cursor: pointer;
        background-color: white;
        @media #{$bigMenu} {
          display: inline-block;
          background-color: transparent;
        }

        a {
          color: #2B1C0D;
          font-family: $bevan;
          letter-spacing: 1px;
          font-size: 15px;
        }

        &#menu-item-9 {
          a {
            font-weight: bold;
          }
        }

        &:hover {
          .sub-menu {
            display: block;
            .menu-item {
            }
          }
        }

        .sub-menu {
          display: block;
          position: relative;
          width: 100%;
          @media #{$bigMenu} {
            display: none;
            position: absolute;
            top: 36px;
            left: 0;
            width: 100%;
          }
          .menu-item {
            a {
              color: #2B1C0D;
            }
          }
          #menu-item-254 {
            margin-right: 110px;
          }
        }
      }
    }
  }
}



.hero {
  display: block;
  height: 100%;
  margin-top: 0;
  background-attachment:fixed;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  position: relative;
  min-height: 480px;
  background: {
    image: url(../images/header-picture-3.jpg);
    repeat: no-repeat;
    size: auto 100%;
    position: center;
  }

  @media #{$otherThanPhone} {
    margin-top: 0;
    height: 1024px;
    background: {
      size: 150%;
      position: top center;
    }
  }
  @media #{$ipadLandscape} {
    margin-top: 0;
    height: 768px;
    background: {
      size: 150%;
      position: top center;
    }
  }
  @media #{$desktop} {
    margin-top: 0;
    height: 800px;
    background: {
      size: 100%;
      position: 0 0;
    }
  }


  

  .hero-content {
    width: 100%;
    max-width: 1100px;
    padding-top: 80px;
    
    margin: 0 auto;
    text-align: center;
    
    @media #{$otherThanPhone} {
      padding-top: 120px;
    }

    @media #{$ipadLandscape} {
      padding-top: 80px;
    }

    @media #{$desktop} {
      padding-top: 60px;
    }

    .facebook-like {
      position: relative;
      margin: 0 auto;
      padding: 10px;
      display: inline-block;
      font-family: $bevan;
      letter-spacing: 0px;
      text-transform: uppercase;
      @include border-bottom-left-radius(5px);
      @include border-bottom-right-radius(5px);
      color: white;
      margin-top: 20px;
      @media #{$otherThanPhone} {
        margin: 0 auto;
        letter-spacing: 2px;
      }
    }


    .hero-online-booking {
      display: block;
      padding: 10px;
      border: 1px solid white;
      width: 80%;
      max-width: 300px;
      font-size: 20px;
      text-transform: uppercase;
      color: white;

      margin: 30px auto 0 auto;
      @include border-radius(10px);
      @include transition(all 200ms linear);
      &:hover {
        background-color: white;
        color: #532D12;
        border-color: white;
        @include transition(all 200ms linear);
      }
    }

    h1 {
      display: inline-block;
      width: 100%;
      text-align: center;
      font-size: 34px;
      font-weight: 500;
      font-family: $bevan;
      padding: 0;
      margin-bottom: 5px;
      color: white;
      @include text-shadow(rgba(0,0,0,0.3) 0 0 30px);
      .header-highlight {
        
        color: white;
        font-weight: 800;
      }

      @media #{$otherThanPhone} {
        margin-bottom: 30px;
        font-size: 80px;
        //letter-spacing: 3px;
        padding: 20px 20px 20px 20px;
      }
      @media #{$megaDesktop} {
        padding: 100px 0 0 0;
        margin-bottom: 30px;
      }
    }
    @media #{$ipadPortrait} {
     display: block;
    }
  }
}

.header {
  position: relative;
  margin: 10px 0 0 0;

  &:before {
    content: "";
    width: 100%;
    height: 1px;
    top: 50%;
    position: absolute;
    background-color: rgba(0,0,0,0.3);
  }

  .header-title {
    font-size: 12px;
    text-transform: uppercase;
    background-color: $sandColor;
    display: inline-block;
    position: relative;
    z-index: 50;
    padding: 0 10px 0 10px;
    margin-left: 20px;
    color: rgba(0,0,0,0.5);
  }
  padding: 10px 0 10px 0;
}

.frontpage-articles {
  background: {
    position: bottom left;
    repeat: no-repeat;
    color: #eae0c6;
  }
  @media #{$otherThanPhone} {
    background-image: url(../images/header-picture-5.jpg);
  }
}

.articles {

  position: relative;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 0;
  @media #{$otherThanPhone} {
    padding: 20px 0 20px 0;
  }
  @media #{$megaDesktop} {
    width: 1100px;
    margin: 0 auto 0 auto;
  }


  .main-article-frontpage {
    display: block;
    width: 100%;
    padding: 0 20px 0 20px;
    @media #{$otherThanPhone} {
      width:  60%;
      margin: 0 auto 0 234px;

    }
    @media #{$desktop} {
      margin: 0 auto 0 auto;
    }
    h2 {
      padding: 20px 0 10px 0;
      font-size: 20px;
      margin-top: 0;
      margin-bottom: 0;
      font-weight: normal;
      @media #{$otherThanPhone} {
        font-size: 45px;  
      }
    }
    h3 {
      font-size: 18px;
      margin-bottom: 0;
      font-weight: normal;
      @media #{$otherThanPhone} {
        font-size: 40px;  
      }
    }
    p {
      display: inline-block;
      width: 100%;
      line-height: 20px;
      font-size: 14px;
      @media #{$otherThanPhone} {
        line-height: 24px;
        font-size: 18px;
      }
      @media #{$ipadPortrait} {
        width: 100%;
      }


    }
  }

  .articles-list {
    list-style: none;
    padding: 0;
    margin-top: 0;
    text-align: center;

    .article-container {
      display: inline-block;
      width: 50%;
      vertical-align: top;
      height: 350px;
      overflow: hidden;
      position: relative;
      img {
        max-width: 300%;
        margin-left: -100%;
      }
      h2 {
        position: absolute;
        z-index: 100;
        top: 0;
        left: 0;
        width: 100%;
        background-color: rgba(255,255,255,0.6);
        margin: 0;
        padding: 10px;
      }
      @media #{$otherThanPhone} {
        width: 50%;
      }
      overflow-x: hidden;
      &:nth-child(odd) {
        @media #{$otherThanPhone} {
        }
      }

      @media #{$ipadPortrait} {
        width: 25%;
      }
    }
  }
}

.post-image-article {
  width: 100%;
  height: 234px;
  background-attachment: fixed;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50;
  overflow-y: hidden;
  background-size: 185% auto;
  background-repeat: no-repeat;
  @media #{$otherThanPhone} {
    height: 310px;
    background-size: 150%;
  }
  @media #{$desktop} {
    height: 500px;
    max-height: 500px;
    background-size: 100% auto;
  }
  img {
    width: 100%;
  }
  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 380px;
    width: 100%;
    @media #{$desktop} {
      @include background-image(linear-gradient(transparent, #faf4eb));
    }
  }
}

.single-title {
  text-align: center;
  font-size: 30px;
  font-weight: normal;
  position: relative;
  margin-top: 180px;
  margin-bottom: 10px;
  z-index: 80;
  text-transform: uppercase;
  font-family: $bevan;
  color: #382314;
  @media #{$otherThanPhone} {
    font-size: 60px;
    margin-bottom: auto;
  }
}

.main-article {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  position: relative;
  z-index: 100;


  article {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    position: relative;
    @media #{$otherThanPhone} {
      padding-left: 100px;
      padding-right: 100px;
      padding-top: 60px;
    }

    .wp-caption {
      display: inline-block;
      position: relative;
      z-index: 80;
      margin-right: 10px;
      margin-top: 20px;
      text-align: center;
    }

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 500px;
      width: 100%;
      z-index: 60;
    }

    img {
      width: 47%;
      position: relative;
      z-index: 100;
      border-radius: 50%;
      @media #{$otherThanPhone} {
        width: auto;
        max-width: 400px;
      }
    }

    .alignright {
      float: right;
      margin-left: 20px;

    }
    .alignleft {
      float: right;
      margin-left: 20px;
      
      @media #{$otherThanPhone} {
        float: left;
        margin-left: 0;
        margin-right: 20px;

      }
    }

    .alignright,
    .alignleft {

      &:after {
        visibility: hidden;
        display: block;
        font-size: 0;
        content: " ";
        clear: both;
        height: 0;
      } 
    }

    p {
      padding: 0;
      z-index: 60;
      position: relative;
      margin-bottom: 40px;
      line-height: 18px;
      font-size: 12px;
      @media #{$otherThanPhone} {
        font-size: 16px;
        line-height: 23px;
      }

    }

    ul {
      li {
        font-size: 16px;
        margin-left: 0;
        padding-left: 0;
        @media #{$otherThanPhone} {
          font-size: 18px;
          margin-left: 20px;
          padding-left: 20px;
        }
      }
    }

    h3 {
      font-size: 20px;
      font-weight: normal;
      border-bottom: 1px solid fade-out(#2d2923,0.8);
      position: relative;
      z-index: 80;
      @media #{$otherThanPhone} {
        font-size: 28px;
      }
    }
    h2 {
      position: relative;
      margin: 0 0 0 0;
      padding: 0;
      margin: 0 0 0 0;
      z-index: 80;

      font-size: 12px;
      display: block;
      position: relative;
      padding: 0;
      color: rgba(0,0,0,0.5);

      &:before {
        content: "";
        width: 74%;
        right: 0;
        top: 50%;
        height: 1px;
        
        position: absolute;
        background-color: rgba(0,0,0,0.3);
        @media #{$otherThanPhone} {
          width: 84%;
        }
      }

      @media #{$otherThanPhone} {
        margin: 20px 0 0 0;
      }

      &:nth-of-type(3) {
        margin-top: 10px;
      }

      + h2 {
        font-size: 28px;
        display: block;
        color: rgba(0,0,0,0.8);
        font-weight: normal;
        margin: 20px 0 0 0;
        position: relative;
        z-index: 80;
        
        
        &:before {
          height: 0;
        }
      }
    }
  }
}


.footer {
  background-color: #2B1C0D;
  position: relative;
  .footer-container {
    max-width: 100%;
    width: 1100px;
    margin: 0 auto 0 auto;
    padding-top: 0;
    text-align: center;
    @media #{$otherThanPhone} {
      padding-top: 20px;  
    }

    .header {
      color: white;

      background-color: transparent;
      .header-title {
        background-color: $mainColor;
        color: fade-out(white, 0.9);
      }
      &:before {
        left: 0;
        background-color:fade-out(white, 0.9);
      }
    }

    .footer-section {
      display: inline-block;
      
      height: 100%;
      vertical-align: top;
      @media #{$otherThanPhone} {
        margin-bottom: 40px;
      }
      @include box-sizing(border-box);
      .footer-paragraph {
        text-align: left;
        padding: 10px 20px 20px 20px;
        margin: 0;
        color: rgba(255,255,255,0.5);
        font-size: 14px;
        font-family: verdana;
        line-height: 20px;
        @media #{$otherThanPhone} {
          font-family: $bevan;
          line-height: 24px;
          font-size: 16px;
        }

        a {
          color: white;
          text-decoration: underline;
        }
      }
      h4 {
        padding: 18px 18px 10px 18px;
        margin: 0;
        font-weight: normal;
        font-size: 16px;
        text-align: left;
        color: rgba(255,255,255,0.9);
        @media #{$otherThanPhone} {
          font-size: 20px;
        }
      }

      @media #{$ipadPortrait} {
      }
    }
  }
  .kart {
    display: block;
    width: 100%;
    height:397px;
    background: {
      image: url(../images/anyu-kart.jpg);
      position: center;
    }
  }
}


.dandelion-1,
.dandelion-2,
.dandelion-3,
.dandelion-4,
.dandelion-5 {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 50%;
  margin-top: -180px;
  left: 50%;
  margin-left: 130px;
  background: {
    image: url('../images/dandelion.svg');
    size: 40px;
  }
}

.dandelion-1 {
  @include animation(dandelion-1 10s infinite linear);
}
.dandelion-2 {
  @include animation(dandelion-2 15s infinite linear);
}
.dandelion-3 {
  @include animation(dandelion-3 20s infinite linear);
}
.dandelion-4 {
  @include animation(dandelion-4 10s infinite linear);
}

// For making a keyframe animation
@mixin keying($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}

@include keying(dandelion-1) {
  0% {
    opacity: 0;
  }
  15% {
    opacity: 1;
    @include transform(rotate(45deg));
  }
  20% {
   @include transform(rotate(50deg));
  }
  25% {
   @include transform(rotate(45deg));
  }

  60% {
    @include transform(rotate(-45deg));
  }
  75% {
    @include transform(rotate(0deg));
    opacity: 0;
    left:10%;
    top: 20%;
  }
  100% {
    opacity: 0;
  }
}

@include keying(dandelion-2) {
  0% {
    opacity: 0;
  }
  50% {
    left: 50%;
    top: 50%;
    opacity: 0;
    @include transform(rotate(0));
  }
  75% {
    opacity: 1;
    @include transform(rotate(45deg));
  }
  80% {
    @include transform(rotate(50deg));
  }
  85% {
    @include transform(rotate(45deg));
  }
  100% {
    @include transform(rotate(-45deg));
    opacity: 0;
    left:60%;
    top: 10%;
  }
}

@include keying(dandelion-3) {
  0% {
    opacity: 0;
  }
  25% {
    left: 50%;
    top: 50%;
    opacity: 0;
  }
  45% {
    opacity: 1;
    @include transform(rotate(45deg));
  }
  50% {
    @include transform(rotate(50deg));
  }
  55% {
    @include transform(rotate(45deg));
  }
  100% {
    @include transform(rotate(-45deg));
    opacity: 0;
    left:80%;
    top: 60%;
  }
}

@include keying(dandelion-4) {
  0% {
    opacity: 0;
  }
  25% {
    left: 50%;
    top: 50%;
    opacity: 0;
  }
  45% {
    opacity: 1;
    @include transform(rotate(45deg));
  }
  50% {
    @include transform(rotate(50deg));
  }
  55% {
    @include transform(rotate(45deg));
  }
  100% {
    @include transform(rotate(-45deg));
    opacity: 0;
    left:60%;
    top: 90%;
  }
}

.size-thumbnail,
.size-medium,
.size-full {
  @include box-shadow(0 1px 1px 1px rgba(0,0,0,0.1));
  background-color: white;
  padding: 14px;
  position: relative;
  @include border-radius(4px);
}