/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */


@import "compass";
@import "animation";
@import "_base";

$mainColor: #faf4eb;

body {
  background-color: $mainColor;
  color: #2d2923;
  font-family: $regularFont;
  margin: 0;
  padding: 0;
}

a {
 color: #2d2923;
 font-family: $regularFont;
 text-decoration: none;
}

.main-header {
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  border-bottom: 1px solid #d0c2ae;
  background-color: $mainColor;
  z-index: 100;

  @media #{$ipadPortrait} {
    position: fixed;
    height: 92px;
  }


  .main-navigation {
    display: block;
    position: relative;
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;

    .anyu-logo {
      vertical-align: top;
      display: block;
      margin: 15px auto 0 auto;
      width: 160px;
      height: 66px;
      background: {
        image: url(../images/anyu-logo.svg);
        size: 160px;
        repeat: no-repeat;
        position: center;
      }
      @media #{$ipadPortrait} {
        display: inline-block;
      }
    }

    ul {
      vertical-align: top;
      list-style: none;
      margin-top: 20px;
      margin: 0;
      display: inline-block;
      padding: 10px 10px 0 10px;
      text-align: center;

      @media #{$ipadPortrait} {
        margin-top: 54px;
        padding: 0 30px 0 30px;
        text-align: left;
      }
      li {
        display: inline-block;
        font-size: 15px;
        text-transform: uppercase;
        border-bottom: 0px solid #928059;

        @media #{$desktop} {
          &:hover {
            border-bottom: 2px solid #928059;
          }
        }
        a {
          color: lighten(#2d2923,30%);
          padding: 0 5px 19px 5px;
          display: block;

          @media #{$ipadPortrait} {
            padding: 0 20px 19px 20px;
          }

          @media #{$ipadLandscape} {
            padding: 0 31px 19px 31px;
          }

          @media #{$desktop} {
            &:hover {
              color: #2d2923;
            }
          }
        }
      }
    }
  }
}

.hero {
  display: block;
  min-height: 200px;

  @media #{$ipadPortrait} {
    margin-top: 92px;      
  }
  position: relative;
  background: {
    image: url(../images/main-image.jpg);
    repeat: no-repeat;
    size: 100%
  }
  width: 100%;

  .hero-content {
    width: 100%;
    max-width: 1100px;
    display: none;
    margin: 0 auto;

    h1 {
      display: inline-block;
      width: 100%;
      max-width:300px;
      font-size: 70px;
      padding: 20px 0 20px 20px;
      color: white;
      text-shadow: 0 0 10px rgba(0,0,0,0.3);
      @media #{$megaDesktop} {
        padding: 20px 0 20px 0;
      }
    }
    @media #{$ipadPortrait} {
     display: block;      
    }
  }
}

.header {
  position: relative;
  margin: 20px 0 0 0;

  &:before {
    content: "";
    width: 100%;
    height: 1px;
    top: 50%;
    position: absolute;
    background-color: #938d77;
  }

  .header-title {
    font-size: 12px;
    text-transform: uppercase;
    background-color: $mainColor;
    display: inline-block;
    position: relative;
    z-index: 50;
    padding: 0 10px 0 10px;
    margin-left: 20px;
  }
  padding: 10px 0 10px 0;
}

.articles {
  position: relative;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  @media #{$megaDesktop} {
    padding: 0;
    width: 1100px;
    margin: 0 auto;
  }


  .main-article {
    display: block;
    width: 100%;
    h2 {
      font-size: 30px;
      text-transform: uppercase;
    }
    p {
      display: inline-block;
      width: 100%;
      @media #{$ipadPortrait} {
        width: 58%;
      }
      line-height: 24px;
      font-size: 18px;

    }
    .post-image {

      display: none;

      @media #{$ipadPortrait} {
        display: inline-block;
      }
      float: right;
      width: 40%;
      height: 100%;

      img {
        width: 100%;
      }
    } 
  }

  .articles-list {
    list-style: none;
    padding: 0;

    .article-container {
      display: inline-block;
      width: 46%;
      vertical-align: top;

      overflow-x: hidden;
      &:nth-child(odd) {
        margin-right: 4%;
      }

      @media #{$ipadPortrait} {
        width: 23%;
        margin-right: 2.6%;
        &:nth-child(odd) {
          margin-right: 2.6%;
        }
        &:nth-child(4n+4) {
          margin-right: 0;
        }
      }



      img {
        width: 100%;
      }

      h2 {
        font-size: 18px;
      }
      p {
        font-size: 16px;
        line-height: 23px;
        img {
          width: 100%;
        }
      }

      .post-image {
        display: none;
      }
      &:after {
       visibility: hidden;
       display: block;
       font-size: 0;
       content: " ";
       clear: both;
       height: 0;
      }
    }
  }
}




.footer {
  background-color: #8b5641;
  position: relative;
  .footer-container {
    width: 100%;
    width: 1100px;
    margin: 0 auto;

    .header {
      color: white;
      background-color: transparent;
      .header-title {
        background-color: #8b5641;
      }
      &:before {
        background-color:white;
      }
    }

    .footer-section {
      display: inline-block;
      margin-bottom: 40px;
      height: 100%;
      vertical-align: top;
      @include box-sizing(border-box);
      .footer-paragraph {
        padding: 10px 20px 20px 20px;
        margin: 0;
        color: rgba(255,255,255,0.5);
        font-size: 16px;
        line-height: 24px;
        a {
          color: white;
          text-decoration: underline;
        }
      }
      h4 {
        padding: 18px 18px 10px 18px;
        margin: 0;
        font-size: 16px;
        text-transform: uppercase;
        color: rgba(255,255,255,0.9);
      }

      width: 50%;

      @media #{$ipadPortrait} {
        width: 30%;
      }
    }
  }
  .kart {
    display: block;
    width: 100%;
    height:397px;
    background: {
      image: url(../images/anyu-kart.jpg);
      position: center;
    }
  }
}


.dandelion-1,
.dandelion-2,
.dandelion-3,
.dandelion-4,
.dandelion-5 {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 50%;
  margin-top: -180px;
  left: 50%;
  margin-left: 130px;
  background: {
    image: url('../images/dandelion.svg');
    size: 40px;
  }
}

.dandelion-1 {
  @include animation(dandelion-1 10s infinite linear);
}
.dandelion-2 {
  @include animation(dandelion-2 15s infinite linear);
}
.dandelion-3 {
  @include animation(dandelion-3 20s infinite linear);
}
.dandelion-4 {
  @include animation(dandelion-4 10s infinite linear);
}

// For making a keyframe animation
@mixin keying($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}

@include keying(dandelion-1) {
  0% {
    opacity: 0;
  }
  15% {
    opacity: 1;
    @include transform(rotate(45deg));
  }
  20% {
   @include transform(rotate(50deg));
  }
  25% {
   @include transform(rotate(45deg));
  }

  60% {
    @include transform(rotate(-45deg));
  }
  75% {
    @include transform(rotate(0deg));
    opacity: 0;
    left:10%;
    top: 20%;
  }
  100% {
    opacity: 0;
  }
}

@include keying(dandelion-2) {
  0% {
    opacity: 0;
  }
  50% {
    left: 50%;
    top: 50%;
    opacity: 0;
    @include transform(rotate(0));
  }
  75% {
    opacity: 1;
    @include transform(rotate(45deg));
  }
  80% {
    @include transform(rotate(50deg));
  }
  85% {
    @include transform(rotate(45deg));
  }
  100% {
    @include transform(rotate(-45deg));
    opacity: 0;
    left:60%;
    top: 10%;
  }
}

@include keying(dandelion-3) {
  0% {
    opacity: 0;
  }
  25% {
    left: 50%;
    top: 50%;
    opacity: 0;
  }
  45% {
    opacity: 1;
    @include transform(rotate(45deg));
  }
  50% {
    @include transform(rotate(50deg));
  }
  55% {
    @include transform(rotate(45deg));
  }
  100% {
    @include transform(rotate(-45deg));
    opacity: 0;
    left:80%;
    top: 60%;
  }
}

@include keying(dandelion-4) {
  0% {
    opacity: 0;
  }
  25% {
    left: 50%;
    top: 50%;
    opacity: 0;
  }
  45% {
    opacity: 1;
    @include transform(rotate(45deg));
  }
  50% {
    @include transform(rotate(50deg));
  }
  55% {
    @include transform(rotate(45deg));
  }
  100% {
    @include transform(rotate(-45deg));
    opacity: 0;
    left:60%;
    top: 90%;
  }
}