/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */


@import "compass";
@import "_base";

@import "_nav";
@import "_hero";

$mainColor: #4d3925;
$sandColor: #faf4eb;


* {
  box-sizing: border-box;
}
body,html {
  background-color: #fffefc;
  color: #3f3c36;
  font-family: $bevan;
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
}

body {
  padding-top: 84px;
}

a {
 color: #2d2923;
 font-family: $bevan;
 text-decoration: none;
}


.section {
  max-width: $contentSectionWidth;
  
  display: block;
  padding: 20px;
  margin-top: 40px;
    margin-bottom: 40px;
  @media #{$otherThanPhone} {
    max-width: $contentSectionWidth;
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
    padding: 0;
  }
  &.video {
    .info-section {
      h3 {
        font-size: 2em;
      }
      p {
        font-size: 1.2em;
      }  
    }
    
  }
  .info-section {
    padding-right: 60px;
    h3 {
      font-size: 2em;
      margin: 0;
      @media #{$otherThanPhone} {
        font-size: 3em;
      }
    }
    p {
      font-size: 1.2em;
      color: #444;
      line-height: 1.5em;
      @media #{$otherThanPhone} {
        font-size: 1.4em;
        line-height: 1.7em;
      }
    }
  }
  .illustration-section {
    
    img {
      width: 100%;
      display: block;
      box-shadow: 10px 10px 40px rgba(0,0,0,0.1);
      border-radius: 2px;
      @media #{$otherThanPhone} {
        width: 400px;
      }
    }
    iframe {
      box-shadow: 10px 10px 40px rgba(0,0,0,0.1);
      border-radius: 2px;
      max-width: 100%;
      width: 100%;
      @media #{$otherThanPhone} {
        width: 400px;
        max-width: none;
      }
    }
  }
}

.photo-section {
  position: relative;
  height: auto;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  color: $highlight;
  background-color: #444;
  @media #{$otherThanPhone} {
    flex-direction: row;
    justify-content: flex-end;
    padding: 0;
    height: 600px;
  }
  a {
    color: $highlight;
    text-decoration: underline;
  }
  &.left {
    justify-content: flex-start;
    .info-section {
      padding-right: 0;
      padding-left: 0;
      @media #{$otherThanPhone} {
        padding-left: 60px;
      }
    }
  }
  .photo-background {
    max-width: 100%;
    position: relative;
    box-shadow: 10px 10px 40px rgba(0,0,0,0.1);
    @media #{$otherThanPhone} {
      position: absolute;
      left: 0;
      top: 0;
    }
  }
  .info-section {
    
    position: relative;
    width: 100%;
    
    @media #{$otherThanPhone} {
      width: 600px;
      padding-right: 60px;
    }
    h3 {
      font-size: 2em;
      text-shadow: 0 0 10px rgba($highlightDark, 0.3);
      @media #{$otherThanPhone} {
        font-size: 3em;
      }
    }
    p {
      font-size: 1.2em;
      line-height: 1.6em;
      text-shadow: 0 0 10px rgba($highlightDark, 0.3);
      @media #{$otherThanPhone} {
        
        font-size: 1.4em;
      }
    }
  }
}

.footer {
  background-color: $highlight;
  .footer-content-wrapper {
    padding: 40px 20px 40px 20px;
    margin: 0 auto;
    max-width: $maxDesktopWidth;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    @media #{$otherThanPhone} {
      flex-direction: row;
      padding: 40px 40px 40px 40px;
    }
    .footer-info {
      padding-right: 0;
      padding-bottom: 20px;
      @media #{$otherThanPhone} {
        padding-right: 60px;
        padding-bottom: 0;
      }
      h4 {
        margin-bottom: 4px;
      }
    }
    .footer-map {
      flex: 1;
      background-color: $highlightDark;
      box-shadow: 10px 10px 40px rgba(0,0,0,0.1);
      width: 100%;
      @media #{$otherThanPhone} {
        width: auto;
      }
    }
  }
}

.post-header {
  padding: 80px 0;
  background-size: cover;
  h1 {
    margin: 0;
    padding: 0 20px;
    font-size: 3em;
    color: $highlight;
    text-shadow: 0 0 4px $highlightDark;
    text-align: center;
  }
}

.entry-content {
  max-width: 600px;
  margin: 20px auto 20px auto;
  @media #{$otherThanPhone} {
    margin: 80px auto 80px auto;
  }
  h3 {
    font-size: 2em;
    padding: 0 20px;
    text-align: center;
  }
  h2 {
    font-size: 2.2em;
    padding: 0 20px;
    text-align: center;
  }
  p {
    font-size: 1.2em;
    line-height: 1.6em;
    padding: 0 20px;
    text-align: left;
  }
  p,h3,h2 {
    img {
      max-width: 100%;
      @media #{$otherThanPhone} {
        max-width: 400px;
      }
    }
  }
  iframe {
    max-width: 100%;
  }
  img {
    box-shadow: 10px 10px 40px rgba(0,0,0,0.1);
    max-width: calc(100% - 40px);
    margin: 20px auto 20px auto;
    display: block;
    
    @media #{$otherThanPhone} {
      max-width: 400px;
    }
    &.alignleft {
      @media #{$otherThanPhone} {
        float: left;
        margin-right: -200px;
        transform: translateX(-220px);
      }
    }
    &.alignright {
      @media #{$otherThanPhone} {
        float: right;
        margin-left: 20px;
        margin-left: -200px;
        transform: translateX(220px);
      }
    }
    &.aligncenter {
      
      @media #{$otherThanPhone} {
        margin: 0 auto 20px auto;
        display: block;
        max-width: 600px;
      }
    }
  }
  ul {
    list-style: disc outside none;
    padding: 20px;
    margin: 20px;
    max-width: 100%;
    font-size: 1em;
    line-height: 1.4em;
  }
}
